In [1]:
import VESIcal as v
import pandas as pd
import numpy as np
import os
import Thermobar as pt
# %pip install Thermobar

In [4]:
out=pt.import_excel("MI_compilation_XH2O.xlsx", sheet_name="EarthChem_Ridges")

# This subdivdes outputs into a dataframe for all inputs (my_input), ols, and liqs
my_input=out['my_input']
myOls=out['Ols']
myLiquids1=out['Liqs']

## Lets check the outputs have loaded right
display(myOls.head())
display(myLiquids1.head())

,SiO2_Ol,TiO2_Ol,Al2O3_Ol,FeOt_Ol,MnO_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,Cr2O3_Ol,NiO_Ol,Sample_ID_Ol
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,49.42,0.85,14.55,10.13,0.145,9.259,14.874,1.558,0.014,0.0,0.022,0.0890,0.0,0.00,0.0,0.013195,Colman_2015_1
1,49.93,0.97,13.72,10.09,0.190,9.153,13.636,1.956,0.106,0.0,0.080,0.0690,0.0,0.00,0.0,0.038426,Colman_2015_2
2,50.11,0.95,13.78,10.25,0.114,7.850,11.830,2.230,0.076,0.0,0.065,0.0500,0.0,0.00,0.0,0.136000,Colman_2015_3
3,50.25,0.88,13.87,10.01,0.100,7.910,14.340,2.730,2.060,0.0,0.660,0.0397,0.0,0.00,0.0,0.117800,Colman_2015_4
4,50.57,0.89,14.73,10.29,0.110,10.310,11.200,1.930,0.020,0.0,0.030,0.0570,0.0,0.26,0.0,0.000000,Colman_2015_5

In [5]:
T_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids1, equationT="T_Helz1987_CaO")
# This function 
df_HT87=pt.convert_to_vesical(liq_comps=myLiquids1, 
                              T1=T_HT87, unit='Kelvin', Fe3Fet_Liq=0.15)
df_HT87.head()

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Sample_ID,Temp,FeO,Fe2O3
0,49.42,0.85,14.55,0.145,9.259,14.874,1.558,0.014,0.0,0.022,0.0890,0.00,0.0,0.013195,Colman_2015_1,1214.9084,8.6105,1.688333
1,49.93,0.97,13.72,0.190,9.153,13.636,1.956,0.106,0.0,0.080,0.0690,0.00,0.0,0.038426,Colman_2015_2,1194.3576,8.5765,1.681666
2,50.11,0.95,13.78,0.114,7.850,11.830,2.230,0.076,0.0,0.065,0.0500,0.00,0.0,0.136000,Colman_2015_3,1164.3780,8.7125,1.708333
3,50.25,0.88,13.87,0.100,7.910,14.340,2.730,2.060,0.0,0.660,0.0397,0.00,0.0,0.117800,Colman_2015_4,1206.0440,8.5085,1.668333
4,50.57,0.89,14.73,0.110,10.310,11.200,1.930,0.020,0.0,0.030,0.0570,0.26,0.0,0.000000,Colman_2015_5,1153.9200,8.7465,1.715000

In [6]:
VESIcal_out=v.BatchFile(filename=None, dataframe=df_HT87, label='Sample_ID')
VESIcal_out.data

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Temp,FeO,Fe2O3
Colman_2015_1,49.42,0.85,14.55,0.145,9.259,14.874,1.558,0.014,0.0,0.022,0.089000,0.00,0.0,0.013195,1214.9084,8.6105,1.688333
Colman_2015_2,49.93,0.97,13.72,0.190,9.153,13.636,1.956,0.106,0.0,0.080,0.069000,0.00,0.0,0.038426,1194.3576,8.5765,1.681666
Colman_2015_3,50.11,0.95,13.78,0.114,7.850,11.830,2.230,0.076,0.0,0.065,0.050000,0.00,0.0,0.136000,1164.3780,8.7125,1.708333
Colman_2015_4,50.25,0.88,13.87,0.100,7.910,14.340,2.730,2.060,0.0,0.660,0.039700,0.00,0.0,0.117800,1206.0440,8.5085,1.668333
Colman_2015_5,50.57,0.89,14.73,0.110,10.310,11.200,1.930,0.020,0.0,0.030,0.057000,0.26,0.0,0.000000,1153.9200,8.7465,1.715000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wanless_2015_59,51.45,1.01,14.66,0.110,10.090,13.030,2.010,0.060,0.0,0.080,0.360000,0.00,0.0,0.090600,1184.2980,5.5930,1.096667
Wanless_2015_60,51.79,0.92,15.45,0.100,10.360,12.720,2.020,0.040,0.0,0.040,0.350000,0.00,0.0,0.045300,1179.1520,5.4485,1.068333
Wanless_2015_61,52.53,0.99,14.80,0.100,10.070,13.090,1.880,0.060,0.0,0.030,0.370000,0.00,0.0,0.028900,1185.2940,4.9980,0.980000
Wanless_2015_62,52.62,0.97,14.80,0.160,2.970,11.150,3.610,0.460,0.0,0.080,0.397501,0.00,0.0,0.000012,1153.0900,5.0150,0.983333
Wanless_2015_63,52.70,0.96,14.89,0.120,2.710,13.490,3.690,0.390,0.0,0.170,0.497646,0.00,0.0,0.000014,1191.9340,4.9215,0.965000

In [7]:
# First lets use the default model MagmaSat
SatP_HT87=VESIcal_out.calculate_saturation_pressure(temperature="Temp")
SatP_HT87.head()

[====================] 100%  Working on sample Wanless_2015_63

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,...,FeO,Fe2O3,Temp,SaturationP_bars_VESIcal,XH2O_fl_VESIcal,XCO2_fl_VESIcal,FluidMass_grams_VESIcal,FluidSystem_wt_VESIcal,Model,Warnings
Colman_2015_1,49.42,0.85,14.55,0.145,9.259,14.874,1.558,0.014,0.0,0.022,...,8.6105,1.688333,1214.9084,250,0.007029,0.992971,0.000025,0.000025,MagmaSat,
Colman_2015_2,49.93,0.97,13.72,0.190,9.153,13.636,1.956,0.106,0.0,0.080,...,8.5765,1.681666,1194.3576,690,0.001640,0.998360,0.000168,0.000168,MagmaSat,
Colman_2015_3,50.11,0.95,13.78,0.114,7.850,11.830,2.230,0.076,0.0,0.065,...,8.7125,1.708333,1164.3780,2530,0.000262,0.999738,0.000229,0.000229,MagmaSat,
Colman_2015_4,50.25,0.88,13.87,0.100,7.910,14.340,2.730,2.060,0.0,0.660,...,8.5085,1.668333,1206.0440,1580,0.000232,0.999768,0.000522,0.000522,MagmaSat,
Colman_2015_5,50.57,0.89,14.73,0.110,10.310,11.200,1.930,0.020,0.0,0.030,...,8.7465,1.715000,1153.9200,0,0.000000,0.000000,0.000000,0.000000,MagmaSat,

In [8]:
SatP_HT87.to_excel("EarthChem_Ridges.xlsx")