In [1]:
import VESIcal as v
# !pip install Thermobar
import Thermobar as pt

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
out=pt.import_excel('MI_compilation_XH2O.xlsx', sheet_name="Lerner_2021")
my_input=out['my_input']
myOls=out['Ols']
myLiquids1=out['Liqs']

## Lets check the outputs have loaded right
display(myOls.head())
display(myLiquids1.head())

,SiO2_Ol,TiO2_Ol,Al2O3_Ol,FeOt_Ol,MnO_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,Cr2O3_Ol,NiO_Ol,Sample_ID_Ol
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,51.236449,1.820085,14.121973,11.570039,0.148578,7.942920,10.046107,2.471621,0.334301,0.0,0.231903,0.227876,0.0,0.0,0.0,0.011263,Lerner_2021_Kil_1
1,48.597176,1.821955,12.221299,11.545405,0.126448,13.386427,9.630621,2.054278,0.365796,0.0,0.182647,0.247597,0.0,0.0,0.0,0.028668,Lerner_2021_Kil_2
2,48.096826,1.872729,12.362422,11.543479,0.110397,14.305403,9.143857,2.022267,0.308107,0.0,0.183660,0.269180,0.0,0.0,0.0,0.116741,Lerner_2021_Kil_3
3,50.496886,1.989165,14.218213,11.551608,0.167604,7.972717,10.533943,2.346452,0.395424,0.0,0.220795,0.302463,0.0,0.0,0.0,0.035236,Lerner_2021_Kil_4

In [4]:
T_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids1, equationT="T_Helz1987_MgO")
df_HT87=pt.convert_to_vesical(liq_comps=myLiquids1,
                              T1=T_HT87, unit='Kelvin', Fe3Fet_Liq=0.15)
df_HT87.head()

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Sample_ID,Temp,FeO,Fe2O3
0,51.236449,1.820085,14.121973,0.148578,7.942920,10.046107,2.471621,0.334301,0.0,0.231903,0.227876,0.0,0.0,0.011263,Lerner_2021_Kil_1,1173.652684,9.834533,1.928340
1,48.597176,1.821955,12.221299,0.126448,13.386427,9.630621,2.054278,0.365796,0.0,0.182647,0.247597,0.0,0.0,0.028668,Lerner_2021_Kil_2,1283.067186,9.813594,1.924234
2,48.096826,1.872729,12.362422,0.110397,14.305403,9.143857,2.022267,0.308107,0.0,0.183660,0.269180,0.0,0.0,0.116741,Lerner_2021_Kil_3,1301.538610,9.811957,1.923913
3,50.496886,1.989165,14.218213,0.167604,7.972717,10.533943,2.346452,0.395424,0.0,0.220795,0.302463,0.0,0.0,0.035236,Lerner_2021_Kil_4,1174.251616,9.818867,1.925268

In [5]:
VESIcal_out=v.BatchFile(filename=None, dataframe=df_HT87, label='Sample_ID')
VESIcal_out.data

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Temp,FeO,Fe2O3
Lerner_2021_Kil_1,51.236449,1.820085,14.121973,0.148578,7.942920,10.046107,2.471621,0.334301,0.0,0.231903,0.227876,0.0,0.0,0.011263,1173.652684,9.834533,1.928340
Lerner_2021_Kil_2,48.597176,1.821955,12.221299,0.126448,13.386427,9.630621,2.054278,0.365796,0.0,0.182647,0.247597,0.0,0.0,0.028668,1283.067186,9.813594,1.924234
Lerner_2021_Kil_3,48.096826,1.872729,12.362422,0.110397,14.305403,9.143857,2.022267,0.308107,0.0,0.183660,0.269180,0.0,0.0,0.116741,1301.538610,9.811957,1.923913
Lerner_2021_Kil_4,50.496886,1.989165,14.218213,0.167604,7.972717,10.533943,2.346452,0.395424,0.0,0.220795,0.302463,0.0,0.0,0.035236,1174.251616,9.818867,1.925268

In [6]:
df= VESIcal_out.get_data()
chunk_size = 20
subframes = [v.BatchFile(filename=None,dataframe=df.iloc[i:i+chunk_size],label=None) for i in range(0, len(df), chunk_size)]

In [7]:
for index, data in enumerate(subframes):
    if index>=0:
        Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
        filename = f"XH2O_Lerner2021_{index}.xlsx"
        Sat_P_MagmaSat.to_excel(excel_writer=filename)

[====================] 100%  Working on sample Lerner_2021_Kil_4

In [8]:
import os
combined_data = pd.DataFrame()

for index in range(len(subframes)):
    filename = f"XH2O_Lerner2021_{index}.xlsx"
    if os.path.exists(filename):
        df = pd.read_excel(filename)
        combined_data = pd.concat([combined_data, df])

combined_filename = "XH2O_Lerner2021_combined.xlsx"
combined_data.to_excel(combined_filename, index=False)