In [1]:
import VESIcal as v
# !pip install Thermobar
import Thermobar as pt

In [11]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [12]:
import multiprocessing

In [13]:
out=pt.import_excel('MI_compilation_XH2O.xlsx', sheet_name="Rasmussen_ARC+rifts")
my_input=out['my_input']
myOls=out['Ols']
myLiquids1=out['Liqs']

## Lets check the outputs have loaded right
display(myOls.head())
display(myLiquids1.head())

,SiO2_Ol,TiO2_Ol,Al2O3_Ol,FeOt_Ol,MnO_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,Cr2O3_Ol,NiO_Ol,Sample_ID_Ol
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,47.00,0.66,17.68,9.50,0.26,4.59,12.79,1.96,0.38,0.0,0.11,3.25,0.0,0.0,0.0,0.0629,AGRIGAN
1,47.19,0.85,18.71,9.33,0.17,4.34,12.66,2.31,0.54,0.0,0.17,2.72,0.0,0.0,0.0,0.0142,AGRIGAN
2,46.13,0.74,18.09,8.99,0.15,4.59,12.64,1.77,0.37,0.0,0.14,4.56,0.0,0.0,0.0,0.0485,AGRIGAN
3,46.92,0.77,17.93,9.10,0.21,4.62,12.42,2.00,0.43,0.0,0.12,3.49,0.0,0.0,0.0,0.0419,AGRIGAN
4,46.64,0.74,18.31,10.18,0.23,4.05,12.61,2.11,0.48,0.0,0.09,3.00,0.0,0.0,0.0,0.0431,AGRIGAN

In [14]:
myLiquids1

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,47.000000,0.660000,17.680000,9.500000,0.260000,4.590000,12.790000,1.960000,0.380000,0.0,0.110000,3.250000,0.0,0.0,0.0,0.06290,AGRIGAN
1,47.190000,0.850000,18.710000,9.330000,0.170000,4.340000,12.660000,2.310000,0.540000,0.0,0.170000,2.720000,0.0,0.0,0.0,0.01420,AGRIGAN
2,46.130000,0.740000,18.090000,8.990000,0.150000,4.590000,12.640000,1.770000,0.370000,0.0,0.140000,4.560000,0.0,0.0,0.0,0.04850,AGRIGAN
3,46.920000,0.770000,17.930000,9.100000,0.210000,4.620000,12.420000,2.000000,0.430000,0.0,0.120000,3.490000,0.0,0.0,0.0,0.04190,AGRIGAN
4,46.640000,0.740000,18.310000,10.180000,0.230000,4.050000,12.610000,2.110000,0.480000,0.0,0.090000,3.000000,0.0,0.0,0.0,0.04310,AGRIGAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,58.852449,1.205004,16.393820,7.054655,0.097810,2.616083,5.981501,2.519273,0.364453,0.0,0.388416,3.260000,0.0,0.0,0.0,0.00837,ARENAL-ET3
2599,51.086750,0.859109,17.877316,9.999991,0.192909,4.180244,8.185212,1.869017,0.248751,0.0,0.144894,3.540000,0.0,0.0,0.0,0.01774,ARENAL-ET3
2600,57.931878,1.246551,15.833392,10.623755,0.233711,2.244786,7.877365,2.994888,0.862735,0.0,0.000000,1.100002,0.0,0.0,0.0,0.00410,ARENAL-ET3
2601,58.209985,1.212851,15.814498,9.196108,0.142938,2.099523,6.688064,2.853622,0.481720,0.0,0.000000,2.412007,0.0,0.0,0.0,0.00475,ARENAL-ET3
2602,56.265651,0.670504,18.002376,5.726258,0.138174,2.753119,5.622254,3.726155,0.000000,0.0,0.579178,2.750000,0.0,0.0,0.0,0.01370,ARENAL-ET6

In [15]:
T_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids1, equationT="T_Helz1987_CaO")
df_HT87=pt.convert_to_vesical(liq_comps=myLiquids1,
                              T1=T_HT87, unit='Kelvin', Fe3Fet_Liq=0.15)
df_HT87.head()

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Sample_ID,Temp,FeO,Fe2O3
0,47.00,0.66,17.68,0.26,4.59,12.79,1.96,0.38,0.0,0.11,3.25,0.0,0.0,0.0629,AGRIGAN,1180.314,8.0750,1.583333
1,47.19,0.85,18.71,0.17,4.34,12.66,2.31,0.54,0.0,0.17,2.72,0.0,0.0,0.0142,AGRIGAN,1178.156,7.9305,1.555000
2,46.13,0.74,18.09,0.15,4.59,12.64,1.77,0.37,0.0,0.14,4.56,0.0,0.0,0.0485,AGRIGAN,1177.824,7.6415,1.498333
3,46.92,0.77,17.93,0.21,4.62,12.42,2.00,0.43,0.0,0.12,3.49,0.0,0.0,0.0419,AGRIGAN,1174.172,7.7350,1.516667
4,46.64,0.74,18.31,0.23,4.05,12.61,2.11,0.48,0.0,0.09,3.00,0.0,0.0,0.0431,AGRIGAN,1177.326,8.6530,1.696666

In [16]:
VESIcal_out=v.BatchFile(filename=None, dataframe=df_HT87, label='Sample_ID')
VESIcal_out.data

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Temp,FeO,Fe2O3
AGRIGAN,47.000000,0.660000,17.680000,0.260000,4.590000,12.790000,1.960000,0.380000,0.0,0.110000,3.250000,0.0,0.0,0.06290,1180.314000,8.075000,1.583333
AGRIGAN-duplicate-1,47.190000,0.850000,18.710000,0.170000,4.340000,12.660000,2.310000,0.540000,0.0,0.170000,2.720000,0.0,0.0,0.01420,1178.156000,7.930500,1.555000
AGRIGAN-duplicate-2,46.130000,0.740000,18.090000,0.150000,4.590000,12.640000,1.770000,0.370000,0.0,0.140000,4.560000,0.0,0.0,0.04850,1177.824000,7.641500,1.498333
AGRIGAN-duplicate-3,46.920000,0.770000,17.930000,0.210000,4.620000,12.420000,2.000000,0.430000,0.0,0.120000,3.490000,0.0,0.0,0.04190,1174.172000,7.735000,1.516667
AGRIGAN-duplicate-4,46.640000,0.740000,18.310000,0.230000,4.050000,12.610000,2.110000,0.480000,0.0,0.090000,3.000000,0.0,0.0,0.04310,1177.326000,8.653000,1.696666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARENAL-ET3-duplicate-4,58.852449,1.205004,16.393820,0.097810,2.616083,5.981501,2.519273,0.364453,0.0,0.388416,3.260000,0.0,0.0,0.00837,1067.292922,5.996457,1.175776
ARENAL-ET3-duplicate-5,51.086750,0.859109,17.877316,0.192909,4.180244,8.185212,1.869017,0.248751,0.0,0.144894,3.540000,0.0,0.0,0.01774,1103.874525,8.499992,1.666665
ARENAL-ET3-duplicate-6,57.931878,1.246551,15.833392,0.233711,2.244786,7.877365,2.994888,0.862735,0.0,0.000000,1.100002,0.0,0.0,0.00410,1098.764251,9.030192,1.770626
ARENAL-ET3-duplicate-7,58.209985,1.212851,15.814498,0.142938,2.099523,6.688064,2.853622,0.481720,0.0,0.000000,2.412007,0.0,0.0,0.00475,1079.021869,7.816691,1.532684
ARENAL-ET6,56.265651,0.670504,18.002376,0.138174,2.753119,5.622254,3.726155,0.000000,0.0,0.579178,2.750000,0.0,0.0,0.01370,1061.329409,4.867320,0.954376

In [17]:
df= VESIcal_out.get_data()
chunk_size = 25
subframes = [v.BatchFile(filename=None,dataframe=df.iloc[i:i+chunk_size],label=None) for i in range(0, len(df), chunk_size)]

In [18]:
len(subframes)

105

In [9]:
# import multiprocessing


# def process_data(index, data):
#     Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
#     filename = f"XH2O_RasmussenSZrifts_{index}.xlsx"
#     Sat_P_MagmaSat.to_excel(excel_writer=filename)

# if __name__ == "__main__":
#     # Create a pool of worker processes
#     with multiprocessing.Pool() as pool:
#         # Use map to distribute the workload across the processes
#         pool.starmap(process_data, enumerate(subframes))

In [10]:
# import multiprocessing

# def process_data(index, data):
#     Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
#     filename = f"XH2O_RasmussenSZrifts_{index}.xlsx"
#     Sat_P_MagmaSat.to_excel(excel_writer=filename)

# if __name__ == "__main__":
#     # Assuming `indices_to_process` is the list of indices you want to process
#     indices_to_process = [66,75,77,78,79,
#                           80,81,82,83,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,
#                          100,101,102,103,104]  # Example indices

#     # Filter the subframes based on the indices you want to process
#     subframes_to_process = [subframes[i] for i in indices_to_process]

#     # Create a pool of worker processes
#     with multiprocessing.Pool() as pool:
#         # Use map to distribute the workload across the processes
#         pool.starmap(process_data, zip(indices_to_process, subframes_to_process))

In [13]:
for index, data in enumerate(subframes):
    if index in [105]:
        Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
        filename = f"XH2O_RasmussenSZrifts_{index}.xlsx"
        Sat_P_MagmaSat.to_excel(excel_writer=filename)

In [14]:
import os
combined_data = pd.DataFrame()

for index in range(len(subframes)):
    filename = f"XH2O_RasmussenSZrifts_{index}.xlsx"
    if os.path.exists(filename):
        df = pd.read_excel(filename)
        combined_data = pd.concat([combined_data, df])

combined_filename = "XH2O_RasmussenSZrifts_combined.xlsx"
combined_data.to_excel(combined_filename, index=False)

In [21]:
original=pd.read_excel('MI_compilation_XH2O.xlsx', sheet_name="Rasmussen_ARC+rifts")
original.head()

,Order,Setting,Region,Citation,Volcano,Sample_ID_Liq,Volcano Number,Eruption Start Date,Age,Age.1,...,fO2 Ref..1,Po210,Ra226,Pb210/Ra226,Pb208/Pb204.1,Pb207/Pb204,Pb206/Pb204.1,Nd143/Nd144,Hf176/Hf177,Sr87/Sr86
0,4,SZ,Marianas,"Kelley, K.A. and Cottrell, E., 2012. The influ...",AGRIGAN,AGRIGAN,284160.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,SZ,Marianas,"Kelley, K.A. and Cottrell, E., 2012. The influ...",AGRIGAN,AGRIGAN,284160.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,SZ,Marianas,"Kelley, K.A. and Cottrell, E., 2012. The influ...",AGRIGAN,AGRIGAN,284160.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,SZ,Marianas,"Kelley, K.A. and Cottrell, E., 2012. The influ...",AGRIGAN,AGRIGAN,284160.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12,SZ,Marianas,"Kelley, K.A. and Cottrell, E., 2012. The influ...",AGRIGAN,AGRIGAN,284160.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df = pd.read_excel(r"XH2O_RasmussenSZrifts_combined.xlsx")
df

,Unnamed: 0,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,...,FeO,Fe2O3,Temp,SaturationP_bars_VESIcal,XH2O_fl_VESIcal,XCO2_fl_VESIcal,FluidMass_grams_VESIcal,FluidSystem_wt_VESIcal,Model,Warnings
0,AGRIGAN,47.000000,0.660000,17.680000,0.260000,4.590000,12.790000,1.960000,0.380000,0.0,...,8.075000,1.583333,1180.314000,2110,0.592037,0.407963,0.000088,0.000088,MagmaSat,NaN
1,AGRIGAN-duplicate-1,47.190000,0.850000,18.710000,0.170000,4.340000,12.660000,2.310000,0.540000,0.0,...,7.930500,1.555000,1178.156000,1050,0.793415,0.206585,0.000780,0.000780,MagmaSat,NaN
2,AGRIGAN-duplicate-2,46.130000,0.740000,18.090000,0.150000,4.590000,12.640000,1.770000,0.370000,0.0,...,7.641500,1.498333,1177.824000,2590,0.790279,0.209721,0.001133,0.001133,MagmaSat,NaN
3,AGRIGAN-duplicate-3,46.920000,0.770000,17.930000,0.210000,4.620000,12.420000,2.000000,0.430000,0.0,...,7.735000,1.516667,1174.172000,1890,0.703886,0.296114,0.000222,0.000222,MagmaSat,NaN
4,AGRIGAN-duplicate-4,46.640000,0.740000,18.310000,0.230000,4.050000,12.610000,2.110000,0.480000,0.0,...,8.653000,1.696666,1177.326000,1690,0.634663,0.365337,0.000333,0.000333,MagmaSat,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,ARENAL-ET3-duplicate-4,58.852449,1.205004,16.393820,0.097810,2.616083,5.981501,2.519273,0.364453,0.0,...,5.996457,1.175776,1067.292922,1030,0.896877,0.103123,0.000881,0.000881,MagmaSat,NaN
2574,ARENAL-ET3-duplicate-5,51.086750,0.859109,17.877316,0.192909,4.180244,8.185212,1.869017,0.248751,0.0,...,8.499992,1.666665,1103.874525,1470,0.843872,0.156128,0.000241,0.000241,MagmaSat,NaN
2575,ARENAL-ET3-duplicate-6,57.931878,1.246551,15.833392,0.233711,2.244786,7.877365,2.994888,0.862735,0.0,...,9.030192,1.770626,1098.764251,210,0.719212,0.280788,0.001108,0.001108,MagmaSat,NaN
2576,ARENAL-ET3-duplicate-7,58.209985,1.212851,15.814498,0.142938,2.099523,6.688064,2.853622,0.481720,0.0,...,7.816691,1.532684,1079.021869,630,0.895081,0.104919,0.001291,0.001291,MagmaSat,NaN
2577,ARENAL-ET6,56.265651,0.670504,18.002376,0.138174,2.753119,5.622254,3.726155,0.000000,0.0,...,4.867320,0.954376,1061.329409,920,0.768959,0.231041,0.000237,0.000237,MagmaSat,NaN