In [1]:
import VESIcal as v
import Thermobar as pt

In [2]:
# !pip install Thermobar

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
import multiprocessing

In [5]:
out=pt.import_excel('MI_compilation_XH2O.xlsx', sheet_name="EAR+Mascarene-Reunion_GEOROC")
my_input=out['my_input']
myOls=out['Ols']
myLiquids1=out['Liqs']

## Lets check the outputs have loaded right
display(myOls.head())
display(myLiquids1.head())

,SiO2_Ol,TiO2_Ol,Al2O3_Ol,FeOt_Ol,MnO_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,Cr2O3_Ol,NiO_Ol,Sample_ID_Ol
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,69.20,0.51,8.03,5.63,0.19,0.0,0.26,5.10,4.24,0.0,0.0,4.70,0.0,0.0,0.0,0.0011,Field_2012_EAR_DABBAHU (BOINA)_1
1,69.22,0.00,12.03,6.17,0.18,0.0,0.39,6.32,4.77,0.0,0.0,0.19,0.0,0.0,0.0,0.0441,Field_2012_EAR_DABBAHU (BOINA)_2
2,69.40,0.38,12.44,5.94,0.21,0.0,0.48,6.10,4.80,0.0,0.0,0.57,0.0,0.0,0.0,0.0484,Field_2012_EAR_DABBAHU (BOINA)_3
3,69.92,0.54,12.28,6.31,0.24,0.0,0.43,6.15,4.87,0.0,0.0,0.28,0.0,0.0,0.0,0.0279,Field_2012_EAR_DABBAHU (BOINA)_4
4,69.96,0.00,8.25,5.35,0.22,0.0,0.33,4.79,4.73,0.0,0.0,5.24,0.0,0.0,0.0,0.0042,Field_2012_EAR_DABBAHU (BOINA)_5

In [6]:
T_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids1, equationT="T_Helz1987_CaO")
df_HT87=pt.convert_to_vesical(liq_comps=myLiquids1,
                              T1=T_HT87, unit='Kelvin', Fe3Fet_Liq=0.15)
df_HT87.head()

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Sample_ID,Temp,FeO,Fe2O3
0,69.20,0.51,8.03,0.19,0.0,0.26,5.10,4.24,0.0,0.0,4.70,0.0,0.0,0.0011,Field_2012_EAR_DABBAHU (BOINA)_1,972.316,4.7855,0.938333
1,69.22,0.00,12.03,0.18,0.0,0.39,6.32,4.77,0.0,0.0,0.19,0.0,0.0,0.0441,Field_2012_EAR_DABBAHU (BOINA)_2,974.474,5.2445,1.028333
2,69.40,0.38,12.44,0.21,0.0,0.48,6.10,4.80,0.0,0.0,0.57,0.0,0.0,0.0484,Field_2012_EAR_DABBAHU (BOINA)_3,975.968,5.0490,0.990000
3,69.92,0.54,12.28,0.24,0.0,0.43,6.15,4.87,0.0,0.0,0.28,0.0,0.0,0.0279,Field_2012_EAR_DABBAHU (BOINA)_4,975.138,5.3635,1.051667
4,69.96,0.00,8.25,0.22,0.0,0.33,4.79,4.73,0.0,0.0,5.24,0.0,0.0,0.0042,Field_2012_EAR_DABBAHU (BOINA)_5,973.478,4.5475,0.891667

In [7]:
VESIcal_out=v.BatchFile(filename=None, dataframe=df_HT87, label='Sample_ID')
VESIcal_out.data

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Temp,FeO,Fe2O3
Field_2012_EAR_DABBAHU (BOINA)_1,69.200000,0.510000,8.030000,0.190000,0.000000,0.260000,5.100000,4.240000,0.0,0.000000,4.700000,0.0,0.0,0.001100,972.316000,4.785500,0.938333
Field_2012_EAR_DABBAHU (BOINA)_2,69.220000,0.000000,12.030000,0.180000,0.000000,0.390000,6.320000,4.770000,0.0,0.000000,0.190000,0.0,0.0,0.044100,974.474000,5.244500,1.028333
Field_2012_EAR_DABBAHU (BOINA)_3,69.400000,0.380000,12.440000,0.210000,0.000000,0.480000,6.100000,4.800000,0.0,0.000000,0.570000,0.0,0.0,0.048400,975.968000,5.049000,0.990000
Field_2012_EAR_DABBAHU (BOINA)_4,69.920000,0.540000,12.280000,0.240000,0.000000,0.430000,6.150000,4.870000,0.0,0.000000,0.280000,0.0,0.0,0.027900,975.138000,5.363500,1.051667
Field_2012_EAR_DABBAHU (BOINA)_5,69.960000,0.000000,8.250000,0.220000,0.000000,0.330000,4.790000,4.730000,0.0,0.000000,5.240000,0.0,0.0,0.004200,973.478000,4.547500,0.891667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Walowski_2019_Reunion_PdF_16,49.656833,2.318633,14.236167,0.170833,6.599200,10.929967,2.878500,0.499300,0.0,0.239933,0.866391,0.0,0.0,0.099223,1149.437447,9.412333,1.845555
Walowski_2019_Reunion_PdF_17,49.685867,2.772800,14.105733,0.135700,7.106967,11.674733,2.605500,0.477133,0.0,0.308667,1.006568,0.0,0.0,0.134850,1161.800573,7.798438,1.529105
Walowski_2019_Reunion_PdF_18,49.714133,2.850200,13.063733,0.146833,8.593133,11.102700,2.497767,0.521600,0.0,0.300967,0.979816,0.0,0.0,0.127325,1152.304820,8.416417,1.650278
Walowski_2019_Reunion_PdF_19,49.887867,3.177133,13.593267,0.145000,6.938867,11.759300,2.538300,0.591800,0.0,0.378167,0.967363,0.0,0.0,0.126237,1163.204380,7.849042,1.539028
Walowski_2019_Reunion_PdF_20,50.212633,2.241200,13.583967,0.159233,6.765333,10.949067,2.749433,0.415200,0.0,0.233533,1.079657,0.0,0.0,0.103152,1149.754507,8.896582,1.744428

In [8]:
df= VESIcal_out.get_data()
chunk_size = 25
subframes = [v.BatchFile(filename=None,dataframe=df.iloc[i:i+chunk_size],label=None) for i in range(0, len(df), chunk_size)]

In [9]:
len(subframes)

13

In [11]:
for index, data in enumerate(subframes):
    if index==13:
        Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
        filename = f"XH2O_EAR+Mascarene-Reunion_GEOROC_{index}.xlsx"
        Sat_P_MagmaSat.to_excel(excel_writer=filename)

In [13]:
import os
combined_data = pd.DataFrame()

for index in range(len(subframes)):
    filename = f"XH2O_EAR+Mascarene-Reunion_GEOROC_{index}.xlsx"
    if os.path.exists(filename):
        df = pd.read_excel(filename)
        combined_data = pd.concat([combined_data, df])

combined_filename = "XH2O_EAR+Mascarene-Reunion_GEOROC_combined.xlsx"
combined_data.to_excel(combined_filename, index=False)