In [1]:
import VESIcal as v
# !pip install Thermobar
import Thermobar as pt

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
out=pt.import_excel('MI_compilation_XH2O.xlsx', sheet_name="Hartley_Laki_2014")
my_input=out['my_input']
myOls=out['Ols']
myLiquids1=out['Liqs']

## Lets check the outputs have loaded right
display(myOls.head())
display(myLiquids1.head())

,SiO2_Ol,TiO2_Ol,Al2O3_Ol,FeOt_Ol,MnO_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,Cr2O3_Ol,NiO_Ol,Sample_ID_Ol
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,49.6586,3.0434,13.3324,0.0,0.2725,5.0310,10.6558,2.7438,0.3870,0.0076,0.3140,0.620466,0.0,0.0045,0.0,0.231640,Hartley_Laki_2014_1
1,50.2773,2.7603,14.4040,0.0,0.2750,3.9105,12.3393,3.0414,0.2923,0.0486,0.3218,0.074755,0.0,0.0000,0.0,0.112493,Hartley_Laki_2014_2
2,54.8863,1.8837,16.3015,0.0,0.2942,2.7692,12.1105,3.6613,0.3429,0.0398,0.3950,0.082401,0.0,0.0000,0.0,0.083795,Hartley_Laki_2014_3
3,50.2730,2.1884,16.9976,0.0,0.1017,5.6757,13.4225,2.6331,0.3223,0.0258,0.5390,0.083699,0.0,0.0021,0.0,0.081305,Hartley_Laki_2014_4
4,50.3775,2.9169,14.8586,0.0,0.3167,5.2173,11.5835,2.9853,0.3969,0.0246,0.3012,0.081628,0.0,0.0492,0.0,0.098950,Hartley_Laki_2014_5

In [4]:
T_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids1, equationT="T_Helz1987_MgO")
df_HT87=pt.convert_to_vesical(liq_comps=myLiquids1,
                              T1=T_HT87, unit='Kelvin', Fe3Fet_Liq=0.15)
df_HT87.head()

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Sample_ID,Temp,FeO,Fe2O3
0,49.6586,3.0434,13.3324,0.2725,5.0310,10.6558,2.7438,0.3870,0.0076,0.3140,0.620466,0.0045,0.0,0.231640,Hartley_Laki_2014_1,1115.12310,0.0,0.0
1,50.2773,2.7603,14.4040,0.2750,3.9105,12.3393,3.0414,0.2923,0.0486,0.3218,0.074755,0.0000,0.0,0.112493,Hartley_Laki_2014_2,1092.60105,0.0,0.0
2,54.8863,1.8837,16.3015,0.2942,2.7692,12.1105,3.6613,0.3429,0.0398,0.3950,0.082401,0.0000,0.0,0.083795,Hartley_Laki_2014_3,1069.66092,0.0,0.0
3,50.2730,2.1884,16.9976,0.1017,5.6757,13.4225,2.6331,0.3223,0.0258,0.5390,0.083699,0.0021,0.0,0.081305,Hartley_Laki_2014_4,1128.08157,0.0,0.0
4,50.3775,2.9169,14.8586,0.3167,5.2173,11.5835,2.9853,0.3969,0.0246,0.3012,0.081628,0.0492,0.0,0.098950,Hartley_Laki_2014_5,1118.86773,0.0,0.0

In [5]:
VESIcal_out=v.BatchFile(filename=None, dataframe=df_HT87, label='Sample_ID')
VESIcal_out.data

,SiO2,TiO2,Al2O3,MnO,MgO,CaO,Na2O,K2O,Cr2O3,P2O5,H2O,NiO,CoO,CO2,Temp,FeO,Fe2O3
Hartley_Laki_2014_1,49.6586,3.0434,13.3324,0.2725,5.0310,10.6558,2.7438,0.3870,0.0076,0.3140,0.620466,0.0045,0.0,0.231640,1115.12310,0.0,0.0
Hartley_Laki_2014_2,50.2773,2.7603,14.4040,0.2750,3.9105,12.3393,3.0414,0.2923,0.0486,0.3218,0.074755,0.0000,0.0,0.112493,1092.60105,0.0,0.0
Hartley_Laki_2014_3,54.8863,1.8837,16.3015,0.2942,2.7692,12.1105,3.6613,0.3429,0.0398,0.3950,0.082401,0.0000,0.0,0.083795,1069.66092,0.0,0.0
Hartley_Laki_2014_4,50.2730,2.1884,16.9976,0.1017,5.6757,13.4225,2.6331,0.3223,0.0258,0.5390,0.083699,0.0021,0.0,0.081305,1128.08157,0.0,0.0
Hartley_Laki_2014_5,50.3775,2.9169,14.8586,0.3167,5.2173,11.5835,2.9853,0.3969,0.0246,0.3012,0.081628,0.0492,0.0,0.098950,1118.86773,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Hartley_Laki_2014_104,49.9024,3.2621,13.8114,0.2102,3.2621,11.3820,3.0128,0.5096,0.0000,0.3231,0.352405,0.0436,0.0,0.100500,1079.56821,0.0,0.0
Hartley_Laki_2014_105,46.8281,4.7611,12.2013,0.2434,4.9627,10.1880,2.5173,0.4784,0.0000,0.3508,0.230202,0.0486,0.0,0.031500,1113.75027,0.0,0.0
Hartley_Laki_2014_106,50.3913,1.2536,16.5576,0.2048,6.3839,14.1649,2.0944,0.0621,0.0420,0.0823,0.556715,0.0000,0.0,0.071400,1142.31639,0.0,0.0
Hartley_Laki_2014_107,49.4327,3.0421,14.4257,0.2211,5.1073,12.0597,2.9690,0.3699,0.0000,0.2504,0.091417,0.0455,0.0,0.005800,1116.65673,0.0,0.0
Hartley_Laki_2014_108,49.6245,3.3246,14.1665,0.1191,5.0000,10.5828,3.0927,0.5124,0.0000,0.3504,0.091535,0.0000,0.0,0.025000,1114.50000,0.0,0.0

In [6]:
df= VESIcal_out.get_data()
chunk_size = 20
subframes = [v.BatchFile(filename=None,dataframe=df.iloc[i:i+chunk_size],label=None) for i in range(0, len(df), chunk_size)]

In [7]:
for index, data in enumerate(subframes):
    if index>0:
        Sat_P_MagmaSat = data.calculate_saturation_pressure(temperature="Temp")
        filename = f"XH2O_Hartley2014_Laki_{index}.xlsx"
        Sat_P_MagmaSat.to_excel(excel_writer=filename)

[====================] 100%  Working on sample Hartley_Laki_2014_41
[====================] 100%  Working on sample Hartley_Laki_2014_61
[====================] 100%  Working on sample Hartley_Laki_2014_81
[====================] 100%  Working on sample Hartley_Laki_2014_101
[====================] 100%  Working on sample Hartley_Laki_2014_108

In [8]:
import os
combined_data = pd.DataFrame()

for index in range(len(subframes)):
    filename = f"XH2O_Hartley2014_Laki_{index}.xlsx"
    if os.path.exists(filename):
        df = pd.read_excel(filename)
        combined_data = pd.concat([combined_data, df])

combined_filename = "XH2O_Hartley2014_Laki_combined.xlsx"
combined_data.to_excel(combined_filename, index=False)